<!--                                                                      -->
<!-- -------------------------------------------------------------------- -->
<!-- System    : Centos 7.7                                               -->
<!--   Name    : peekaboo                                                 -->
<!-- Location  : /home/don/workspace/books/app/views/purposes/            -->
<!-- File Name : index.html.erb                                           -->
<!-- Rev. Date : 07/07/2020                                               -->
<!-- Rev. No.  : 0.0.3                                                    -->
<!-- -------------------------------------------------------------------- -->
<!--                                                                      -->

<h1>
  List Purposes
</h1>

<!-- -------------------------------------------------------------------- -->
<!-- The notice is a message stating that Add/Edit was successfully.      -->
<!-- -------------------------------------------------------------------- -->
<p id="notice"><%= notice %></p>

<!-- -------------------------------------------------------------------- -->
<!-- This part of the code put so many records on the screen at one       -->
<!--   Time with Prev / No. of screens / Next.                            -->
<!-- -------------------------------------------------------------------- -->
<%= will_paginate @purposes %>

<!-- -------------------------------------------------------------------- -->
<!-- Table #1 - Head for Table 2 Purpose   Info.                          -->
<!-- -------------------------------------------------------------------- -->
<!--<table width="50%" border="0">-->
<!--<table colspan=6 width="85%" border="1">-->
<table width="95%" border="0">
  <thead>
    <tr>
      <td width="10%" align="center">
        Idx
      </td>
      <td width="15%" align="center">
        Type
      </td>
      <td width="25%" align="center">
        Name
      </td>
      <td colspan=3 width="45%">
      </td>
    </tr>
  </thead>
</table>

<!-- -------------------------------------------------------------------- -->
<!-- Table #2 - Condition Info.                                           -->
<!-- -------------------------------------------------------------------- -->
<!--            Purpose_idx / Purpose_type / Purpose_name                 -->
<!-- -------------------------------------------------------------------- -->
<!--<table width="50%" border="1">-->
<table id="border" width="95%" border="1">
  <tbody>
    <% @purposes.each do |purpose| %>
      <tr>
        <td width="10%">
          <%=h purpose.purpose_idx %>
        </td>

       <td width="15%">
          <%=h purpose.purpose_type %>
        </td>

       <td width="25%">
          <%=h purpose.purpose_name %>
        </td>

        <td width="15%">
          <%= link_to 'Show', purpose %>
        </td>

        <td width="15%">
          <%= link_to 'Edit', edit_purpose_path(purpose) %>
        </td>

        <td width="15%">
          <%= link_to 'Destroy', purpose, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<!-- -------------------------------------------------------------------- -->
<!-- Draws a horizontal line, Size = 4.                                   -->
<!-- Draws a horizontal using using style sheet "scaffolds.scss".         -->
<!-- -------------------------------------------------------------------- -->
<!-- <hr size="4" "noshade"> -->
<hr>
</hr>

<!-- -------------------------------------------------------------------- -->
<!-- Links at bottom of page/screen.                                      -->
<!--            New Mediatype / Admin Menu / Main Menu                    -->
<!-- -------------------------------------------------------------------- -->
<%= link_to 'New Purpose', new_purpose_path %>
&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
<a href="/admin_index">
  Admin Menu
</a>
&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
<a href="/main_index">
  Main Menu
</a>

<!-- -------------------------------------------------------------------- -->
<!-- Draws a horizontal line, Size = 4.                                   -->
<!-- Draws a horizontal using using style sheet "scaffolds.scss".         -->
<!-- -------------------------------------------------------------------- -->
<!-- <hr size="4" "noshade"> -->
<hr>
</hr>

<!-- -------------------------------------------------------------------- -->
<!--  Table - Address - Section                                           -->
<!--    Row #1 using 2 column.                                            -->
<!-- -------------------------------------------------------------------- -->
<address>
  <table width="100%" border="0">
    <tr>
      <td>
        Don Streeck
      </td>
      <td align="right">
        <font size=-3>
          Rev. 0.0.2
        </font>
      </td>
    </tr>
  </table>
</address>

<!--                                                                      -->
<!-- -------------------------------------------------------------------- -->
<!-- Date Rev.  : Rev. # :     Description                                -->
<!-- -------------------------------------------------------------------- -->
<!-- 07/07/2020 : 0.0.1  : Original.                                      -->
<!--            :        : Copyed from Index.html.erb (condition).        -->
<!--            : 0.0.2  : Cleanup remove unneeded code and comments.     -->
<!--            : 0.0.3  : Add paginating.                                -->
<!--            :        : This part of the code put so many records      -->
<!--            :        :   on the screen at one time with               -->
<!--            :        :   Prev / No. of screens / Next.                -->
<!--            :        : See controller/books_controller.rb             -->
<!--            :        :   for part 1 of paginating.                    -->
<!--            :        : See models/book.rb for part 2 of               -->
<!--            :        :   paginating.                                  -->
<!--            :        : See view/books/index.html.erb for part 3       -->
<!--            :        :   of paginating.                               -->
<!--            :        : See config/environment.rb for part 4           -->
<!--            :        :   paginating.                                  -->
<!-- -------------------------------------------------------------------- -->
<!--            :        :                                                -->
<!-- -------------------------------------------------------------------- -->
