<!--                                                                      -->
<!-- -------------------------------------------------------------------- -->
<!-- System    : Centos 7.7                                               -->
<!--   Name    : peekaboo                                                 -->
<!-- Location  : /home/don/workspace/books/app/views/condition/           -->
<!-- File Name : _list.html.erb                                           -->
<!-- Rev. Date : 06/21/2020                                               -->
<!-- Rev. No.  : 0.0.2                                                    -->
<!-- -------------------------------------------------------------------- -->
<!--                                                                     -->

<%= form_with(model: condition, local: true) do |f| %>
  <!-- ------------------------------------------------------------------ -->
  <!-- Error handeling.                                                   -->
  <!-- ------------------------------------------------------------------ -->
  <% if condition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(condition.errors.count, "error") %> prohibited this condition from being saved:</h2>

      <ul>
      <% condition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- ------------------------------------------------------------------ -->
  <!-- Table #1 - Condition Info.                                         -->
  <!-- ------------------------------------------------------------------ -->
  <!--        Condition_idx / Condition_name                              -->
  <!-- ------------------------------------------------------------------ -->
  <table width="50%">
    <tr>
      <td width="15%" bgcolor="lightgreen">
        <strong>
          Record:
        </strong>
      </td>
      <td width="15%" bgcolor="pink">
         <%=h @condition.id %>
      </td>
      <td width="20%">
      </td>

    <tr>
      <td width="15%" bgcolor="lightgreen">
        <strong>
          Condition Idx:
        </strong>
      </td>
      <td width="15%" bgcolor="pink">
         <%=h @condition.condition_idx %>
      </td>
      <td width="20%">
      </td>
    </tr>

    <tr>
      <td width="15%" bgcolor="lightgreen">
        <strong>
          Condition Name:
        </strong>
      </td>
      <td width="15%" bgcolor="pink">
         <%=h @condition.condition_name %>
      </td>
      <td width="20%">
      </td>
    </tr>

  </table>

<% end %>

<!--                                                                   -->
<!-- ----------------------------------------------------------------- -->
<!-- Date Rev.  : Rev. # :     Description                             -->
<!-- ----------------------------------------------------------------- -->
<!-- 06/21/2020 : 0.0.1  : Original. Copyed from show.html.erb.        -->
<!--            : 0.0.2  : Cleanup remove unneded code and comments.   -->
<!-- ----------------------------------------------------------------- -->
<!--            :        :                                             -->
<!-- ----------------------------------------------------------------- -->
