<!--                                                                      -->
<!-- -------------------------------------------------------------------- -->
<!-- System    : Centos 7.7                                               -->
<!--   Name    : peekaboo                                                 -->
<!-- Location  : /home/don/workspace/books/app/views/condition/           -->
<!-- File Name : index.html.erb                                           -->
<!-- Rev. Date : 06/26/2020                                               -->
<!-- Rev. No.  : 0.0.7                                                    -->
<!-- -------------------------------------------------------------------- -->
<!--                                                                      -->

<h1>
  List Conditions
</h1>

<!-- -------------------------------------------------------------------- -->
<!-- The notice is a message stating that Add/Edit was successfully.      -->
<!-- -------------------------------------------------------------------- -->
<p id="notice"><%= notice %></p>

<!-- -------------------------------------------------------------------- -->
<!-- Table #1 - Head for Table 2 Condition Info.                          -->
<!-- -------------------------------------------------------------------- -->
<!--<table width="50%" border="0">-->
<table colspan=5 width="50%">
  <thead>
    <tr>
      <td width="5%">
        Idx
      </td>
      <td width="10%">
        Name
      </td>
      <td width="30%">
      </td>
    </tr>
  </thead>
</table>

<!-- -------------------------------------------------------------------- -->
<!-- Table #2 - Condition Info.                                           -->
<!-- -------------------------------------------------------------------- -->
<!--            Condition_idx / Condition_name                            -->
<!-- -------------------------------------------------------------------- -->
<!--<table width="50%" border="1">-->
<table id="border" width="50%" border="1">
  <tbody id="border">
    <% @conditions.each do |condition| %>
      <tr>
        <td width="5%">
          <%=h condition.condition_idx %>
        </td>

       <td width="10%">
          <%=h condition.condition_name %>
        </td>
 
        <td width="10%">
          <%= link_to 'Show', condition %>
        </td>

        <td width="10%">
          <%= link_to 'Edit', edit_condition_path(condition) %>
        </td>

        <td width="10%">
          <%= link_to 'Destroy', condition, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<!-- -------------------------------------------------------------------- -->
<!-- Draws a horizontal line, Size = 4.                                   -->
<!-- Draws a horizontal using using style sheet "scaffolds.scss".         -->
<!-- -------------------------------------------------------------------- -->
<!-- <hr size="4" "noshade"> -->
<hr>
</hr>

<!-- -------------------------------------------------------------------- -->
<!-- Links at bottom of page/screen.                                      -->
<!--            New Condition / Admin Menu / Main Menu                    -->
<!-- -------------------------------------------------------------------- -->
<%= link_to 'New Condition', new_condition_path %>
&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
<a href="/admin_index">
  Admin Menu
</a>
&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
<a href="/main_index">
  Main Menu
</a>

<!-- -------------------------------------------------------------------- -->
<!-- Draws a horizontal line, Size = 4.                                   -->
<!-- Draws a horizontal using using style sheet "scaffolds.scss".         -->
<!-- -------------------------------------------------------------------- -->
<!-- <hr size="4" "noshade"> -->
<hr>
</hr>

<!-- -------------------------------------------------------------------- -->
<!--  Table - Address - Section                                           -->
<!--    Row #1 using 2 column.                                            -->
<!-- -------------------------------------------------------------------- -->
<address>
  <table width="100%" border="0">
    <tr>
      <td>
        Don Streeck
      </td>
      <td align="right">
        <font size=-3>
          Rev. 0.0.7
        </font>
      </td>
    </tr>
  </table>
</address>

<!--                                                                      -->
<!-- -------------------------------------------------------------------- -->
<!-- Date Rev.  : Rev. # :     Description                                -->
<!-- -------------------------------------------------------------------- -->
<!-- 05/14/2020 : 0.0.1  : Original.                                      -->
<!--            :        : Copyed from Index.html.erb (books).            -->
<!-- -------------------------------------------------------------------- -->
<!-- 05/28/2020 : 0.0.2  : Remove size and noshade from <hr>.             -->
<!--            :        : Add <hr> to style sheet.                       -->
<!-- -------------------------------------------------------------------- -->
<!-- 05/29/2020 : 0.0.3  : Create Table inside of Address.                -->
<!--            :        : Add <hr> to style sheet.                       -->
<!-- -------------------------------------------------------------------- -->
<!-- 05/31/2020 : 0.0.4  : Create Table #1.                               -->
<!--            :        : Create Table #2. (Bottons).                    -->
<!--            :        : Add <hr> to bottom of Table #2.                -->
<!--            :        : Add link to Main Menu.                         -->
<!--            : 0.0.5  : Add paginating.                                -->
<!--            :        : This part of the code put so many records      -->
<!--            :        :   on the screen at one time with               -->
<!--            :        :   Prev / No. of screens / Next.                -->
<!--            :        : See controller/books_controller.rb             -->
<!--            :        :   for part 1 of paginating.                    -->
<!--            :        : See models/book.rb for part 2 of               -->
<!--            :        :   paginating.                                  -->
<!--            :        : See view/books/index.html.erb for part 3       -->
<!--            :        :   of paginating.                               -->
<!--            :        : See environment.rb for part 4 of               -->
<!--            :        :   paginating.                                  -->
<!-- -------------------------------------------------------------------- -->
<!-- 06/15/2020 : 0.0.6  : Cleanup remove unneeded code and comments.     -->
<!-- -------------------------------------------------------------------- -->
<!-- 06/25/2020 : 0.0.7  : Add address section.                           -->
<!-- -------------------------------------------------------------------- -->
<!--            :        :                                                -->
<!-- -------------------------------------------------------------------- -->
