<!--                                                                      -->
<!-- -------------------------------------------------------------------- -->
<!-- System    : Centos 7.7                                               -->
<!--   Name    : peekaboo                                                 -->
<!-- Location  : /home/don/workspace/books/app/views/mediatypes/          -->
<!-- File Name : _form_edit.html.erb                                      -->
<!-- Rev. Date : 07/02/2020                                               -->
<!-- Rev. No.  : 0.0.2                                                    -->
<!-- -------------------------------------------------------------------- -->
<!--                                                                      -->

<%= form_with(model: mediatype, local: true) do |f| %>
<!%= form_for(@mediatype) do |f| %>
  <!-- ------------------------------------------------------------------ -->
  <!-- Error handeling.                                                   -->
  <!-- ------------------------------------------------------------------ -->
  <% if mediatype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mediatype.errors.count, "error") %> prohibited this mediatype from being saved:</h2>

      <ul>
      <% mediatype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- The first 2 lines wil get the last record, column condition_index, -->
  <!--   or you can just use the third line to get the last record,       -->
  <!--   column condition_index.                                          -->
  <!-- The forth lines adds 1 to lastidx to get next_idx.                 -->
  <%= lastidx = @last_idx %>
  <!%= lastidx = lastidx.media_type_idx %>
  <!%= lastidx = @last_idx.media_type_idx %>
  <!%= next_idx = lastidx + 1 %>

  <!-- ------------------------------------------------------------------ -->
  <!-- Table #1.                                                          -->
  <!-- ------------------------------------------------------------------ -->
  <!--            Media Type idx / Media Type Name                        -->
  <!-- ------------------------------------------------------------------ -->
  <table width="40%" border=1>
    <tr>
      <td width="25%">
        <%= f.label :media_type_idx %>
      </td>
      <td width="10%">
        <%= f.text_field :media_type_idx,
                         :size => 1,
                         :maxsize => 5 %>
                          <!-- autofocus: true %> -->
      </td>
    </tr>

    <tr>
      <td width="25%">
        <%= f.label :media_type_name %>
      </td>
      <td width="10%">
        <%= f.text_field :media_type_name,
                         :size => 10,
                          autofocus: true %>
      </td>
    </tr>
  </table>

  <br>
  <div class="actions">
    <%= f.submit "Save Media Type" %>
  </div>
<% end %>

<!--                                                                      -->
<!-- -------------------------------------------------------------------- -->
<!-- Date Rev.  : Rev. # :     Description                                -->
<!-- -------------------------------------------------------------------- -->
<!-- 07/02/2020 : 0.0.1  : Original.                                      -->
<!--            :        : Copyed part of _form.edit.html.erb             -->
<!--            :        :  (condition).                                  -->
<!--            : 0.0.2  : Clean up remove unneeded code and comments.    -->
<!-- -------------------------------------------------------------------- -->
<!--            :        :                                                -->
<!-- -------------------------------------------------------------------- -->
