<!--                                                                      -->
<!-- -------------------------------------------------------------------- -->
<!-- System    : Centos 7.7                                               -->
<!--   Name    : peekaboo                                                 -->
<!-- Location  : /home/don/workspace/books/app/views/mediatypes/          -->
<!-- File Name : index.html.erb                                           -->
<!-- Rev. Date : 07/02/2020                                               -->
<!-- Rev. No.  : 0.0.2                                                    -->
<!-- -------------------------------------------------------------------- -->
<!--                                                                      -->

<h1>
  Mediatypes
</h1>

<!-- -------------------------------------------------------------------- -->
<!-- The notice is a message stating that Add/Edit was successfully.      -->
<!-- -------------------------------------------------------------------- -->
<p id="notice"><%= notice %></p>

<!-- -------------------------------------------------------------------- -->
<!-- Table #1 - Head for Table 2 MediaType Info.                          -->
<!-- -------------------------------------------------------------------- -->
<!--<table width="50%" border="0">-->
<table colspan=5 width="50%">
  <thead>
    <tr>
      <td width="5%">
        Idx
      </td>
      <td width="10%">
        Name
      </td>
      <td width="30%">
      </td>
    </tr>
  </thead>
</table>

<!-- -------------------------------------------------------------------- -->
<!-- Table #2 - Condition Info.                                           -->
<!-- -------------------------------------------------------------------- -->
<!--            Booktype_idx / Booktype_name                              -->
<!-- -------------------------------------------------------------------- -->
<!--<table width="50%" border="1">-->
<table id="border" width="50%" border="1">
  <tbody>
    <% @mediatypes.each do |mediatype| %>
      <tr>
        <td width="5%">
          <%=h mediatype.media_type_idx %>
        </td>

       <td width="10%">
          <%=h mediatype.media_type_name %>
        </td>
 
        <td width="10%">
          <%= link_to 'Show', mediatype %>
        </td>

        <td width="10%">
          <%= link_to 'Edit', edit_mediatype_path(mediatype) %>
        </td>

        <td width="10%">
          <%= link_to 'Destroy', mediatype, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<!-- -------------------------------------------------------------------- -->
<!-- Draws a horizontal line, Size = 4.                                   -->
<!-- Draws a horizontal using using style sheet "scaffolds.scss".         -->
<!-- -------------------------------------------------------------------- -->
<!-- <hr size="4" "noshade"> -->
<hr>
</hr>

<!-- -------------------------------------------------------------------- -->
<!-- Links at bottom of page/screen.                                      -->
<!--            New Mediatype / Admin Menu / Main Menu                    -->
<!-- -------------------------------------------------------------------- -->
<%= link_to 'New Mediatype', new_mediatype_path %>
&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
<a href="/admin_index">
  Admin Menu
</a>
&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
<a href="/main_index">
  Main Menu
</a>

<!-- -------------------------------------------------------------------- -->
<!-- Draws a horizontal line, Size = 4.                                   -->
<!-- Draws a horizontal using using style sheet "scaffolds.scss".         -->
<!-- -------------------------------------------------------------------- -->
<!-- <hr size="4" "noshade"> -->
<hr>
</hr>

<!-- -------------------------------------------------------------------- -->
<!--  Table - Address - Section                                           -->
<!--    Row #1 using 2 column.                                            -->
<!-- -------------------------------------------------------------------- -->
<address>
  <table width="100%" border="0">
    <tr>
      <td>
        Don Streeck
      </td>
      <td align="right">
        <font size=-3>
          Rev. 0.0.2
        </font>
      </td>
    </tr>
  </table>
</address>

<!--                                                                      -->
<!-- -------------------------------------------------------------------- -->
<!-- Date Rev.  : Rev. # :     Description                                -->
<!-- -------------------------------------------------------------------- -->
<!-- 07/02/2020 : 0.0.1  : Original.                                      -->
<!--            :        : Copyed from Index.html.erb (condition).        -->
<!--            : 0.0.2  : Cleanup remove unneeded code and comments.     -->
<!-- -------------------------------------------------------------------- -->
<!--            :        :                                                -->
<!-- -------------------------------------------------------------------- -->
