<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table width="100%" border=1>
    <!-- ---------------------------------------------------------------- -->
    <!-- Setup of 1st Row in Table #3.                                    -->
    <!--   Name = Condition Id.                                           -->
    <!--          Field Loaded From Table Condition.                      -->
    <!-- ---------------------------------------------------------------- -->
  <div id="condition_area">
      <tr>
        <td width="12%">
         <%= form.label :condition_id %>
        </td>
        <td width="38%">
          <!--<!%= form.text_field :condition_id, :size => 10, :maxsize => 1 %>
          **-->
          <!-- --------------------------------------------------- -->
          <!-- #1 This methed works.                               -->
          <!-- Note: Need to add belongs_to :condition to book.rb. -->
          <!--       Need to add has_many :books to condition.rb   -->
          <%= collection_select(:book,
                                :condition_id, 
                                 Condition.all, 
                                :condition_idx, 
                                :condition_name) %>
          <!-- --------------------------------------------------- -->
          <!-- #2 This methed works.                               -->
          <!-- Note: Need to add belongs_to :condition to book.rb. -->
          <!--       Need to add has_many :books to condition.rb   -->
          <%= form.collection_select :condition_id, 
                                      Condition.all, 
                                     :condition_idx, 
                                     :condition_name %>
          <!-- --------------------------------------------------- -->
          <!-- #3 This methed does not works.                      -->
          <!-- Note: Need to add belongs_to :condition to book.rb. -->
          <!--       Need to add has_many :books to condition.rb   -->
         <!--<!%= form.select :condition_id, 
                           Condition.all.collect, 
                          :condition_idx, 
                          :condition_name %>-->
          <!-- ------------------------------------------------- -->
          <!-- ok -->
          <!--<!%= select_tag(:condition_idx, 
                          raw('<option value="1">Lisbon</option>
                               <option value="2">Madrid</option>
                               <option value="3">Berlin</option>')) %>-->
          <!-- ------------------------------------------------- -->
        </td>
      </tr>
    </table>
  </div>

  <div id="purpose_area">
  </div>
  <div id="book_type_area">
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
