<!--                                                                      -->
<!-- -------------------------------------------------------------------- -->
<!-- System    : Centos 7.7                                               -->
<!--   Name    : peekaboo                                                 -->
<!-- Location  : /home/don/workspace/books/app/views/books/               -->
<!-- File Name : index.html.erb                                           -->
<!-- Rev. Date : 06/15/2020                                               -->
<!-- Rev. No.  : 0.0.6                                                    -->
<!-- -------------------------------------------------------------------- -->
<!--                                                                      -->

<h1>
  List Books
</h1>

<!-- -------------------------------------------------------------------- -->
<!-- The notice is a message stating that Add/Edit was successfully.      -->
<!-- -------------------------------------------------------------------- -->
<p id="notice"><%= notice %></p>

<!-- -------------------------------------------------------------------- -->
<!-- This part of the code put so many records on the screen at one       -->
<!--   Time with Prev / No. of screens / Next.                            -->
<!-- -------------------------------------------------------------------- -->
<%= will_paginate @books %>

<% @books.each do |book| %>

  <!-- ------------------------------------------------------------------ -->
  <!-- Table #1 - Book Info. (Outer table).                               -->
  <!-- ------------------------------------------------------------------ -->
  <!--            Author / Title / Publisher / Series Name /              -->
  <!--            Series No. / ISBN / Published Date / Book Type          -->
  <!-- ------------------------------------------------------------------ -->
  <table width="100%" border=1>
    <!-- ---------------------------------------------------------------- -->
    <!-- Setup of 1st Row in Table #1.                                    -->
    <!--   Name = Author, Size = 40, Maxsize = 50.                        -->
    <!--          Size is the display field size.                         -->
    <!-- ---------------------------------------------------------------- -->
    <tr>
      <td width="12%">
        Author
      </td>
      <td width="38%" bgcolor="lightgray">
        <%=h book.author %>
      </td>
      <td width="12%">
        *
      </td>
      <td width="38%">
        **
      </td>
    </tr>

    <!-- ---------------------------------------------------------------- -->
    <!-- Setup of 2nd Row in Table #1.                                    -->
    <!--   Name = Title,, Size = 25, Maxsize = 25.                        -->
    <!--   Name = Publisher, Size = 20, Maxsize = 20.                     -->
    <!-- ---------------------------------------------------------------- -->
    <tr>
      <td width="12%">
        Title
      </td>
      <td width="38%" bgcolor="lightgray">
        <%=h book.title %>
      </td>
      <td width="12%">
        Publisher
      </td>
      <td width="38%" bgcolor="lightgray">
        <%=h book.publisher %>
      </td>
    </tr>

    <!-- ---------------------------------------------------------------- -->
    <!-- Setup of 3rd Row in Table #1.                                    -->
    <!--   Name = Series name, Size = 25, Maxsize = 25.                   -->
    <!--   Name = Series No. , Size =  3, Maxsize =  3.                   -->
    <!-- ---------------------------------------------------------------- -->
    <tr>
      <td width="12%">
        Series Name
      </td>
      <td width="38%" bgcolor="lightgray">
        <%=h book.series_name %>
      </td>
      <td width="12%">
        Series No
      </td>
      <td width="38%" bgcolor="lightgray">
         <%=h book.series_no %>
      </td>
    </tr>

    <!-- ---------------------------------------------------------------- -->
    <!-- Setup of 4th row in Table #1.                                    -->
    <!-- ---------------------------------------------------------------- -->
    <!-- Table #2 - Links at after each partial record.                   -->
    <!-- ---------------------------------------------------------------- -->
    <!--            Show / Edit / Destroy                                 -->
    <!-- ---------------------------------------------------------------- -->
    <table width="100%" border=0>
      <tr>
        <td width="15%">
        </td>
        <td width="10%">
          <%= link_to 'Show', book %>
        </td>
        <td width="10%">
          <%= link_to 'Edit', edit_book_path(book) %>
        </td>
        <td width="10%">
          <%= link_to 'Destroy', book, method: :delete, 
                                 data: { confirm: 'Are you sure?' } %>
        </td>
        <td width="55%">
        </td>
      </tr>
    </table>

    <!-- ---------------------------------------------------------------- -->
    <!-- Setup of 5th row in Table #1.                                    -->
    <!-- ---------------------------------------------------------------- -->
    <!-- Draws a horizontal line, Size = 4.                               -->
    <!-- Draws a horizontal using using style sheet "scaffolds.scss".     -->
    <!-- ---------------------------------------------------------------- -->
    <tr>
      <td width="100%" colspan=4>
        <!-- <hr size="4" "noshade"> -->
        <hr>
        </hr>
      </td>
    </tr>
  </table>

<% end %>

<!-- -------------------------------------------------------------------- -->
<!-- Links at bottom of page/screen.                                      -->
<!--            New Book / Search / Main Menu                             -->
<!-- -------------------------------------------------------------------- -->
<%= link_to 'New Book', new_book_path %>
&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
<!-- This does not work. -->
<!--<!%= link_to 'Search', search_path %>-->
<!--&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp-->
<a href="/search?q=empty">
  Search
</a>
&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
<a href="/main_index">
  Main Menu
</a>

<!-- -------------------------------------------------------------------- -->
<!-- Draws a horizontal line, Size = 4.                                   -->
<!-- Draws a horizontal using using style sheet "scaffolds.scss".         -->
<!-- -------------------------------------------------------------------- -->
<!-- <hr size="4" "noshade"> -->
<hr>
</hr>

<!-- -------------------------------------------------------------------- -->
<!--  Table - Address - Section                                           -->
<!--    Row #1 using 2 column.                                            -->
<!-- -------------------------------------------------------------------- -->
<address>
  <table width="100%" border="0">
    <tr>
      <td>
        Don Streeck
      </td>
      <td align="right">
        <font size=-3>
          Rev. 0.0.6
        </font>
      </td>
    </tr>
  </table>
</address>

<!--                                                                      -->
<!-- -------------------------------------------------------------------- -->
<!-- Date Rev.  : Rev. # :     Description                                -->
<!-- -------------------------------------------------------------------- -->
<!-- 05/14/2020 : 0.0.1  : Original.                                      -->
<!-- -------------------------------------------------------------------- -->
<!-- 05/28/2020 : 0.0.2  : Remove size and noshade from <hr>.             -->
<!--            :        : Add <hr> to style sheet.                       -->
<!-- -------------------------------------------------------------------- -->
<!-- 05/29/2020 : 0.0.3  : Create Table inside of Address.                -->
<!--            :        : Add <hr> to style sheet.                       -->
<!-- -------------------------------------------------------------------- -->
<!-- 05/31/2020 : 0.0.4  : Create Table #1.                               -->
<!--            :        : Create Table #2. (Bot tons).                   -->
<!--            :        : Add <hr> to bottom of Table #2.                -->
<!--            :        : Add link to Main Menu.                         -->
<!--            : 0.0.5  : Add paginating.                                -->
<!--            :        : This part of the code put so many records      -->
<!--            :        :   on the screen at one time with               -->
<!--            :        :   Prev / No. of screens / Next.                -->
<!--            :        : See controller/books_controller.rb             -->
<!--            :        :   for part 1 of paginating.                    -->
<!--            :        : See models/book.rb for part 2 of               -->
<!--            :        :   paginating.                                  -->
<!--            :        : See view/books/index.html.erb for part 3       -->
<!--            :        :   of paginating.                               -->
<!--            :        : See environment.rb for part 4 of               -->
<!--            :        :   paginating.                                  -->
<!-- -------------------------------------------------------------------- -->
<!-- 06/15/2020 : 0.0.6  : Cleanup remove unneeded code and comments.     -->
<!-- -------------------------------------------------------------------- -->
<!--            :        :                                                -->
<!-- -------------------------------------------------------------------- -->
